# Functional programming

### Mutable data structures
* list
* dict
* set

In [7]:
# list of dicts 
scientists = [
    {'name': 'Ada Lovelance', 'field': 'math', 'born': 1815, 'nobel': False},
    {'name': 'Emy Noether', 'field': 'math', 'born': 1882, 'nobel': False},
    {'name': 'Marie Curie', 'field': 'physics', 'born': 1867, 'nobel': True},
    {'name': 'Tu Youyou', 'field': 'chemistry', 'born': 1930, 'nobel': True},
    {'name': 'Ada Yonath', 'field': 'chemistry', 'born': 1939, 'nobel': True},
    {'name': 'Vera Rubin', 'field': 'astronomy', 'born': 1928, 'nobel': False},
    {'name': 'Sally Ride', 'field': 'physics', 'born': 1951, 'nobel': False}
]

In [9]:
from pprint import pprint

pprint(scientists)

[{'born': 1815, 'field': 'math', 'name': 'Ada Lovelance', 'nobel': False},
 {'born': 1882, 'field': 'math', 'name': 'Emy Noether', 'nobel': False},
 {'born': 1867, 'field': 'physics', 'name': 'Marie Curie', 'nobel': True},
 {'born': 1930, 'field': 'chemistry', 'name': 'Tu Youyou', 'nobel': True},
 {'born': 1939, 'field': 'chemistry', 'name': 'Ada Yonath', 'nobel': True},
 {'born': 1928, 'field': 'astronomy', 'name': 'Vera Rubin', 'nobel': False},
 {'born': 1951, 'field': 'physics', 'name': 'Sally Ride', 'nobel': False}]

### Mutables data structures can be updated

In [10]:
scientists[-2]['name'] = 'Ver Rubin'

In [11]:
scientists[-2]['name']

'Ver Rubin'

### Inmutable data structures
* set
* frozenset
* namedtuple

In [12]:
# namedtuple
import collections

Scientists = collections.namedtuple('Scientists', [
    'name',
    'field',
    'born',
    'nobel',
])

In [13]:
Scientists

### Instance an object in namedtuple

In [14]:
Scientists(name='Ada Lovelance', field='Math', born=1815, nobel=False)

Scientists(name='Ada Lovelance', field='Math', born=1815, nobel=False)

In [15]:
ada = Scientists('Ada Lovelance', 'Math', 1815, False)

In [16]:
ada

Scientists(name='Ada Lovelance', field='Math', born=1815, nobel=False)

### Show data in namedtuple

In [17]:
ada.name

'Ada Lovelance'

In [18]:
ada[-1]

False

### We cannot update a namedtuple

In [19]:
ada.field = 'Nothing'

AttributeError: can't set attribute

### Easy way to instance an object in namedtuple

In [20]:
marie = Scientists('Marie Curie', 'Physics', 1867, True)

In [21]:
marie

Scientists(name='Marie Curie', field='Physics', born=1867, nobel=True)

In [22]:
marie.name

'Marie Curie'

In [23]:
marie[2]

1867

# Filter function

In [83]:
# first transform Scientists into a tuple
scientist = (
    Scientists('Marie Curie', 'Physics', 1867, True),
    Scientists('Ada Lovelance', 'Math', 1815, False),
    Scientists('Ada Yonath', 'Chemistry', 1938, True),
    Scientists('Vera Rubin', 'Astronomy', 1928, False),
    Scientists('Sally Ride', 'Physics', 1951, False),
    Scientists('Tu Youyou', 'Chemistry', 1930, True),
    Scientists('Emmy Noether', 'Math', 1882, False)
)

In [84]:
pprint(scientist)

(Scientists(name='Marie Curie', field='Physics', born=1867, nobel=True),
 Scientists(name='Ada Lovelance', field='Math', born=1815, nobel=False),
 Scientists(name='Ada Yonath', field='Chemistry', born=1938, nobel=True),
 Scientists(name='Vera Rubin', field='Astronomy', born=1928, nobel=False),
 Scientists(name='Sally Ride', field='Physics', born=1951, nobel=False),
 Scientists(name='Tu Youyou', field='Chemistry', born=1930, nobel=True),
 Scientists(name='Emmy Noether', field='Math', born=1882, nobel=False))

### Filter with lambda expression

In [85]:
fs = filter(lambda x: x.nobel is True, scientist)

### Iterate filter values

In [86]:
next(fs)

Scientists(name='Marie Curie', field='Physics', born=1867, nobel=True)

In [87]:
next(fs)

Scientists(name='Ada Yonath', field='Chemistry', born=1938, nobel=True)

In [88]:
next(fs)

Scientists(name='Tu Youyou', field='Chemistry', born=1930, nobel=True)

In [89]:
next(fs)

StopIteration:

### Show all values

In [90]:
from pprint import pprint

all_noble_scientists = tuple(filter(lambda x: x.nobel is True, scientist))

pprint(all_noble_scientists)

(Scientists(name='Marie Curie', field='Physics', born=1867, nobel=True),
 Scientists(name='Ada Yonath', field='Chemistry', born=1938, nobel=True),
 Scientists(name='Tu Youyou', field='Chemistry', born=1930, nobel=True))

### Use function instead lambda expression

In [91]:
def all_nobel():
    for x in scientist:
        if x.nobel is True:
            print(x)
            

all_nobel()

Scientists(name='Marie Curie', field='Physics', born=1867, nobel=True)
Scientists(name='Ada Yonath', field='Chemistry', born=1938, nobel=True)
Scientists(name='Tu Youyou', field='Chemistry', born=1930, nobel=True)

In [92]:
fs = filter(all_nobel(), scientist)

Scientists(name='Marie Curie', field='Physics', born=1867, nobel=True)
Scientists(name='Ada Yonath', field='Chemistry', born=1938, nobel=True)
Scientists(name='Tu Youyou', field='Chemistry', born=1930, nobel=True)

### List comprenhension

In [93]:
pprint([x for x in scientist if x.nobel is True])

[Scientists(name='Marie Curie', field='Physics', born=1867, nobel=True),
 Scientists(name='Ada Yonath', field='Chemistry', born=1938, nobel=True),
 Scientists(name='Tu Youyou', field='Chemistry', born=1930, nobel=True)]

In [94]:
# transform in tuple
pprint(tuple([x for x in scientist if x.nobel is True]))

(Scientists(name='Marie Curie', field='Physics', born=1867, nobel=True),
 Scientists(name='Ada Yonath', field='Chemistry', born=1938, nobel=True),
 Scientists(name='Tu Youyou', field='Chemistry', born=1930, nobel=True))

# Map function

In [95]:
pprint(scientist)

(Scientists(name='Marie Curie', field='Physics', born=1867, nobel=True),
 Scientists(name='Ada Lovelance', field='Math', born=1815, nobel=False),
 Scientists(name='Ada Yonath', field='Chemistry', born=1938, nobel=True),
 Scientists(name='Vera Rubin', field='Astronomy', born=1928, nobel=False),
 Scientists(name='Sally Ride', field='Physics', born=1951, nobel=False),
 Scientists(name='Tu Youyou', field='Chemistry', born=1930, nobel=True),
 Scientists(name='Emmy Noether', field='Math', born=1882, nobel=False))

### Map with lambda expression

In [148]:
names_and_ages = tuple(map(
    lambda x: {'Name': x.name.upper(), 'Age': (2020 - x.born)},
    scientist
))

### Show values

In [149]:
pprint(names_and_ages)

({'Age': 153, 'Name': 'MARIE CURIE'},
 {'Age': 205, 'Name': 'ADA LOVELANCE'},
 {'Age': 82, 'Name': 'ADA YONATH'},
 {'Age': 92, 'Name': 'VERA RUBIN'},
 {'Age': 69, 'Name': 'SALLY RIDE'},
 {'Age': 90, 'Name': 'TU YOUYOU'},
 {'Age': 138, 'Name': 'EMMY NOETHER'})

### List comprenhension

In [98]:
pprint([{'Name': x.name.upper(), 'Age': (2020 - x.born)} for x in scientist])

[{'Age': 153, 'Name': 'MARIE CURIE'},
 {'Age': 205, 'Name': 'ADA LOVELANCE'},
 {'Age': 82, 'Name': 'ADA YONATH'},
 {'Age': 92, 'Name': 'VERA RUBIN'},
 {'Age': 69, 'Name': 'SALLY RIDE'},
 {'Age': 90, 'Name': 'TU YOUYOU'},
 {'Age': 138, 'Name': 'EMMY NOETHER'}]

In [99]:
# transform in tuple
pprint(tuple([{'Name': x.name.upper(), 'Age': (2020 - x.born)} for x in scientist]))

({'Age': 153, 'Name': 'MARIE CURIE'},
 {'Age': 205, 'Name': 'ADA LOVELANCE'},
 {'Age': 82, 'Name': 'ADA YONATH'},
 {'Age': 92, 'Name': 'VERA RUBIN'},
 {'Age': 69, 'Name': 'SALLY RIDE'},
 {'Age': 90, 'Name': 'TU YOUYOU'},
 {'Age': 138, 'Name': 'EMMY NOETHER'})

# Reduse function

In [100]:
# reduce a sequence applying a function repeatedly
from functools import reduce

lst = [1, 2, 3, 4, 5]

add = lambda x, y: x + y

reduce(add, lst, 0)

15

In [144]:
pprint(scientist)

(Scientists(name='Marie Curie', field='Physics', born=1867, nobel=True),
 Scientists(name='Ada Lovelance', field='Math', born=1815, nobel=False),
 Scientists(name='Ada Yonath', field='Chemistry', born=1938, nobel=True),
 Scientists(name='Vera Rubin', field='Astronomy', born=1928, nobel=False),
 Scientists(name='Sally Ride', field='Physics', born=1951, nobel=False),
 Scientists(name='Tu Youyou', field='Chemistry', born=1930, nobel=True),
 Scientists(name='Emmy Noether', field='Math', born=1882, nobel=False))

In [151]:
pprint(names_and_ages)

({'Age': 153, 'Name': 'MARIE CURIE'},
 {'Age': 205, 'Name': 'ADA LOVELANCE'},
 {'Age': 82, 'Name': 'ADA YONATH'},
 {'Age': 92, 'Name': 'VERA RUBIN'},
 {'Age': 69, 'Name': 'SALLY RIDE'},
 {'Age': 90, 'Name': 'TU YOUYOU'},
 {'Age': 138, 'Name': 'EMMY NOETHER'})

In [152]:
total_age = reduce(
    lambda accumulator, x: accumulator + x['Age'],
    names_and_ages,
    0
)

total_age

829

In [153]:
sum(x['Age'] for x in names_and_ages)

829

In [154]:
pprint(scientists)

[{'born': 1815, 'field': 'math', 'name': 'Ada Lovelance', 'nobel': False},
 {'born': 1882, 'field': 'math', 'name': 'Emy Noether', 'nobel': False},
 {'born': 1867, 'field': 'physics', 'name': 'Marie Curie', 'nobel': True},
 {'born': 1930, 'field': 'chemistry', 'name': 'Tu Youyou', 'nobel': True},
 {'born': 1939, 'field': 'chemistry', 'name': 'Ada Yonath', 'nobel': True},
 {'born': 1928, 'field': 'astronomy', 'name': 'Ver Rubin', 'nobel': False},
 {'born': 1951, 'field': 'physics', 'name': 'Sally Ride', 'nobel': False}]

In [166]:
def reducer(accumulator, value):
    accumulator[value['field']].append(value['name'])
    
    return accumulator


scientists_by_field = reduce(
    reducer,
    scientists,
    {'math': [], 'physics': [], 'chemistry': [], 'astronomy': []}
)

In [167]:
pprint(scientists_by_field)

{'astronomy': ['Ver Rubin'],
 'chemistry': ['Tu Youyou', 'Ada Yonath'],
 'math': ['Ada Lovelance', 'Emy Noether'],
 'physics': ['Marie Curie', 'Sally Ride']}