# Functional programming

### Mutable data structures
* list
* dict
* set

In [7]:
# list of dicts 
scientists = [
    {'name': 'Ada Lovelance', 'field': 'math', 'born': 1815, 'nobel': False},
    {'name': 'Emy Noether', 'field': 'math', 'born': 1882, 'nobel': False},
    {'name': 'Marie Curie', 'field': 'physics', 'born': 1867, 'nobel': True},
    {'name': 'Tu Youyou', 'field': 'chemistry', 'born': 1930, 'nobel': True},
    {'name': 'Ada Yonath', 'field': 'chemistry', 'born': 1939, 'nobel': True},
    {'name': 'Vera Rubin', 'field': 'astronomy', 'born': 1928, 'nobel': False},
    {'name': 'Sally Ride', 'field': 'physics', 'born': 1951, 'nobel': False}
]

print(scientists)

[{'name': 'Ada Lovelance', 'field': 'math', 'born': 1815, 'nobel': False}, {'name': 'Emy Noether', 'field': 'math', 'born': 1882, 'nobel': False}, {'name': 'Marie Curie', 'field': 'physics', 'born': 1867, 'nobel': True}, {'name': 'Tu Youyou', 'field': 'chemistry', 'born': 1930, 'nobel': True}, {'name': 'Ada Yonath', 'field': 'chemistry', 'born': 1939, 'nobel': True}, {'name': 'Vera Rubin', 'field': 'astronomy', 'born': 1928, 'nobel': False}, {'name': 'Sally Ride', 'field': 'physics', 'born': 1951, 'nobel': False}]

In [8]:
from pprint import pprint  # pprint do this

pprint(scientists)

[{'born': 1815, 'field': 'math', 'name': 'Ada Lovelance', 'nobel': False},
 {'born': 1882, 'field': 'math', 'name': 'Emy Noether', 'nobel': False},
 {'born': 1867, 'field': 'physics', 'name': 'Marie Curie', 'nobel': True},
 {'born': 1930, 'field': 'chemistry', 'name': 'Tu Youyou', 'nobel': True},
 {'born': 1939, 'field': 'chemistry', 'name': 'Ada Yonath', 'nobel': True},
 {'born': 1928, 'field': 'astronomy', 'name': 'Vera Rubin', 'nobel': False},
 {'born': 1951, 'field': 'physics', 'name': 'Sally Ride', 'nobel': False}]

### Mutables data structures can be updated

In [9]:
scientists[-2]['name'] = 'Ver Rubin'

In [10]:
scientists[-2]['name']

'Ver Rubin'

### Inmutable data structures
* set
* frozenset
* namedtuple

In [11]:
# namedtuple
import collections

Scientists = collections.namedtuple('Scientists', [
    'name',
    'field',
    'born',
    'nobel',
])

In [12]:
Scientists

__main__.Scientists

### Instance an object in namedtuple

In [15]:
ada = Scientists(name='Ada Lovelance', field='Math', born=1815, nobel=False)

### Show data in namedtuple

In [16]:
ada.name

'Ada Lovelance'

In [17]:
ada[-1]

False

### We cannot update a namedtuple

In [18]:
ada.nobel = True

AttributeError: can't set attribute

### Easy way to instance an object in namedtuple

In [19]:
marie = Scientists('Marie Curie', 'Physics', 1867, True)

In [20]:
marie

Scientists(name='Marie Curie', field='Physics', born=1867, nobel=True)

In [21]:
marie.name

'Marie Curie'

In [22]:
marie[2]

1867

# Filter function

In [25]:
# first transform Scientists into a tuple
scientist = (
    Scientists('Marie Curie', 'Physics', 1867, True),
    Scientists('Ada Lovelance', 'Math', 1815, False),
    Scientists('Ada Yonath', 'Chemistry', 1938, True),
    Scientists('Vera Rubin', 'Astronomy', 1928, False),
    Scientists('Sally Ride', 'Physics', 1951, False),
    Scientists('Tu Youyou', 'Chemistry', 1930, True),
    Scientists('Emmy Noether', 'Math', 1882, False)
)

In [26]:
pprint(scientist)

(Scientists(name='Marie Curie', field='Physics', born=1867, nobel=True),
 Scientists(name='Ada Lovelance', field='Math', born=1815, nobel=False),
 Scientists(name='Ada Yonath', field='Chemistry', born=1938, nobel=True),
 Scientists(name='Vera Rubin', field='Astronomy', born=1928, nobel=False),
 Scientists(name='Sally Ride', field='Physics', born=1951, nobel=False),
 Scientists(name='Tu Youyou', field='Chemistry', born=1930, nobel=True),
 Scientists(name='Emmy Noether', field='Math', born=1882, nobel=False))

### Filter with lambda expression

In [29]:
fs = filter(lambda x: x.nobel is True, scientist)

print(fs)
type(fs)

<filter object at 0x7fa6c38c96a0>

filter

### Iterate filter values

In [30]:
next(fs)

Scientists(name='Marie Curie', field='Physics', born=1867, nobel=True)

In [31]:
next(fs)

Scientists(name='Ada Yonath', field='Chemistry', born=1938, nobel=True)

In [32]:
next(fs)

Scientists(name='Tu Youyou', field='Chemistry', born=1930, nobel=True)

In [33]:
next(fs)

StopIteration:

### Show all values

In [36]:
all_noble_scientists = tuple(filter(lambda x: x.nobel == True, scientist))

pprint(all_noble_scientists)

(Scientists(name='Marie Curie', field='Physics', born=1867, nobel=True),
 Scientists(name='Ada Yonath', field='Chemistry', born=1938, nobel=True),
 Scientists(name='Tu Youyou', field='Chemistry', born=1930, nobel=True))

### Use function instead lambda expression

In [38]:
def all_nobel():
    for x in scientist:
        if x.nobel is True:
            print(x)
            

all_nobel()

Scientists(name='Marie Curie', field='Physics', born=1867, nobel=True)
Scientists(name='Ada Yonath', field='Chemistry', born=1938, nobel=True)
Scientists(name='Tu Youyou', field='Chemistry', born=1930, nobel=True)

In [39]:
fs = filter(all_nobel(), scientist)

Scientists(name='Marie Curie', field='Physics', born=1867, nobel=True)
Scientists(name='Ada Yonath', field='Chemistry', born=1938, nobel=True)
Scientists(name='Tu Youyou', field='Chemistry', born=1930, nobel=True)

### List comprenhension

In [40]:
pprint([x for x in scientist if x.nobel is True])

[Scientists(name='Marie Curie', field='Physics', born=1867, nobel=True),
 Scientists(name='Ada Yonath', field='Chemistry', born=1938, nobel=True),
 Scientists(name='Tu Youyou', field='Chemistry', born=1930, nobel=True)]

In [41]:
# transform in tuple
pprint(tuple([x for x in scientist if x.nobel is True]))

(Scientists(name='Marie Curie', field='Physics', born=1867, nobel=True),
 Scientists(name='Ada Yonath', field='Chemistry', born=1938, nobel=True),
 Scientists(name='Tu Youyou', field='Chemistry', born=1930, nobel=True))

# Map function

In [42]:
pprint(scientist)

(Scientists(name='Marie Curie', field='Physics', born=1867, nobel=True),
 Scientists(name='Ada Lovelance', field='Math', born=1815, nobel=False),
 Scientists(name='Ada Yonath', field='Chemistry', born=1938, nobel=True),
 Scientists(name='Vera Rubin', field='Astronomy', born=1928, nobel=False),
 Scientists(name='Sally Ride', field='Physics', born=1951, nobel=False),
 Scientists(name='Tu Youyou', field='Chemistry', born=1930, nobel=True),
 Scientists(name='Emmy Noether', field='Math', born=1882, nobel=False))

### Map with lambda expression

In [43]:
names_and_ages = tuple(map(
    lambda x: {'Name': x.name.upper(), 'Age': (2022 - x.born)},
    scientist
))

### Show values

In [46]:
pprint(names_and_ages)

({'Age': 155, 'Name': 'MARIE CURIE'},
 {'Age': 207, 'Name': 'ADA LOVELANCE'},
 {'Age': 84, 'Name': 'ADA YONATH'},
 {'Age': 94, 'Name': 'VERA RUBIN'},
 {'Age': 71, 'Name': 'SALLY RIDE'},
 {'Age': 92, 'Name': 'TU YOUYOU'},
 {'Age': 140, 'Name': 'EMMY NOETHER'})

### List comprenhension

In [47]:
pprint([{'Name': x.name.upper(), 'Age': (2020 - x.born)} for x in scientist])

[{'Age': 153, 'Name': 'MARIE CURIE'},
 {'Age': 205, 'Name': 'ADA LOVELANCE'},
 {'Age': 82, 'Name': 'ADA YONATH'},
 {'Age': 92, 'Name': 'VERA RUBIN'},
 {'Age': 69, 'Name': 'SALLY RIDE'},
 {'Age': 90, 'Name': 'TU YOUYOU'},
 {'Age': 138, 'Name': 'EMMY NOETHER'}]

In [48]:
# transform in tuple
pprint(tuple([{'Name': x.name.upper(), 'Age': (2020 - x.born)} for x in scientist]))

({'Age': 153, 'Name': 'MARIE CURIE'},
 {'Age': 205, 'Name': 'ADA LOVELANCE'},
 {'Age': 82, 'Name': 'ADA YONATH'},
 {'Age': 92, 'Name': 'VERA RUBIN'},
 {'Age': 69, 'Name': 'SALLY RIDE'},
 {'Age': 90, 'Name': 'TU YOUYOU'},
 {'Age': 138, 'Name': 'EMMY NOETHER'})

# Reduse function

In [55]:
from functools import reduce  # reduce a sequence applying a function repeatedly

help(reduce)

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, sequence[, initial]) -> value

    Apply a function of two arguments cumulatively to the items of a sequence,
    from left to right, so as to reduce the sequence to a single value.
    For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
    ((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
    of the sequence in the calculation, and serves as a default when the
    sequence is empty.

In [56]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

add = lambda x, y: x + y

reduce(add, lst, 0)

55

In [60]:
## Example with tuple

In [61]:
pprint(scientist)

(Scientists(name='Marie Curie', field='Physics', born=1867, nobel=True),
 Scientists(name='Ada Lovelance', field='Math', born=1815, nobel=False),
 Scientists(name='Ada Yonath', field='Chemistry', born=1938, nobel=True),
 Scientists(name='Vera Rubin', field='Astronomy', born=1928, nobel=False),
 Scientists(name='Sally Ride', field='Physics', born=1951, nobel=False),
 Scientists(name='Tu Youyou', field='Chemistry', born=1930, nobel=True),
 Scientists(name='Emmy Noether', field='Math', born=1882, nobel=False))

In [62]:
pprint(names_and_ages)

({'Age': 155, 'Name': 'MARIE CURIE'},
 {'Age': 207, 'Name': 'ADA LOVELANCE'},
 {'Age': 84, 'Name': 'ADA YONATH'},
 {'Age': 94, 'Name': 'VERA RUBIN'},
 {'Age': 71, 'Name': 'SALLY RIDE'},
 {'Age': 92, 'Name': 'TU YOUYOU'},
 {'Age': 140, 'Name': 'EMMY NOETHER'})

In [67]:
total_age = reduce(
    lambda accumulator, x: accumulator + x['Age'],
    names_and_ages,
    0
)

total_age

843

In [153]:
sum(x['Age'] for x in names_and_ages)

829

In [68]:
pprint(scientists)

[{'born': 1815, 'field': 'math', 'name': 'Ada Lovelance', 'nobel': False},
 {'born': 1882, 'field': 'math', 'name': 'Emy Noether', 'nobel': False},
 {'born': 1867, 'field': 'physics', 'name': 'Marie Curie', 'nobel': True},
 {'born': 1930, 'field': 'chemistry', 'name': 'Tu Youyou', 'nobel': True},
 {'born': 1939, 'field': 'chemistry', 'name': 'Ada Yonath', 'nobel': True},
 {'born': 1928, 'field': 'astronomy', 'name': 'Ver Rubin', 'nobel': False},
 {'born': 1951, 'field': 'physics', 'name': 'Sally Ride', 'nobel': False}]

In [69]:
def reducer(accumulator, value):
    accumulator[value['field']].append(value['name'])
    
    return accumulator


scientists_by_field = reduce(
    reducer,
    scientists,
    {'math': [], 'physics': [], 'chemistry': [], 'astronomy': []}
)

In [70]:
pprint(scientists_by_field)

{'astronomy': ['Ver Rubin'],
 'chemistry': ['Tu Youyou', 'Ada Yonath'],
 'math': ['Ada Lovelance', 'Emy Noether'],
 'physics': ['Marie Curie', 'Sally Ride']}